@tailwind base;
@tailwind components;
@tailwind utilities;

.filled {
    font-variation-settings:
        "FILL" 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.outlined {
    font-variation-settings:
        "FILL" 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.large {
    font-size: 2rem !important;
    /* 32px */
}

.small {
    /* 20px */
    font-size: 1.25rem !important;
}